 body {
        background-color: white !important;
        
    }
    

    table th {
        background-color: #1E7F35 !important; /* Vert foncé */
        color: white !important;
        text-align: center !important;
    }
    
    table td {
        text-align: center !important;
        vertical-align: middle !important;
    }
    .card {
        background-color: white;
        border: 2px solid #1E7F35;
        border-radius: 10px;
    }
    h2, h4 {
        color: #1E7F35;
        text-align: center;
        font-weight: bold;
    }
    td a{
        text-decoration: none;
    }